header {
  background-color: #aa0000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 15px 10px 15px 10px;
}

h1 {
  font-size: 25px;
}

a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  text-align: right;
}

nav {
  background-color: rgb(71, 61, 61);
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
}

figure {
  position: left;
  padding: 15px 15px 15px 15px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  padding: 5px 5px 5px 5px;
}

aside {
  float: right;
}

article {
  text-align: left;
  padding-bottom: 30px;
  margin: 20px 550px 20px 15px;
}

footer {
  background-color: rgb(71, 61, 61);
  color: white;
  font-size: 14px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 20px 15px 20px;
}
